.main_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center; 
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the thumb */
  border-radius: 4px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

.semi_container:first-child {
  box-shadow: none;
  background-color: white;
  width: 48%;
  padding: 5px;
  height: 97vh;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.semi_container:nth-child(2) {  
  width: 48%;
  margin: 0 15px;
  height: 93vh;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid lightgray;
}

.semi_container .status {
  position: relative;
  z-index: 1;
  margin: 5px;
  font-size: 12px;
  padding: 7px;
  border-radius: 20px;
}

.semi_container img {
  width: 100px;
  height: 25px;
  position: fixed;
  top:10px
}

.form_container {
  width: 50%;
}

.json_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.json_header button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #fefefe;
  border: 1px solid #d2eaff;
  border-radius: 20px;
  cursor: pointer;
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  cursor: pointer;
  box-shadow: #2c2c2c29 0px 1px 1px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
}

.json_header button:hover {
  border: 1px solid #92a7ba;
  background-color: #daedff;
  box-shadow: none;
}

.json_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.json_footer .action_btn {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.json_footer .action_btn button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #fefefe;
  border: 1px solid #d2eaff;
  border-radius: 20px;
  cursor: pointer;
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  cursor: pointer;
  box-shadow: #2c2c2c29 0px 1px 1px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
}

.action_btn button.submit {
  background-color: #1b1b1b;
  color: white;
}

.action_btn button.submit:hover {
  background-color: #1b1b1b;
  color: white;
}

.action_btn button:hover {
  border: 1px solid #92a7ba;
  background-color: #daedff;
  box-shadow: none;
}